.Genre{
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
    align-items: center;
    width: 80vw;
}
.div{
    margin-right: 5px;
    margin-top: 5px;
}
.div button{
    font-size: 20px;
    border-radius: 10px;
    border: 1px #652f06 solid;
    background: #afc57a;
    color: #020246;
    font-family: "Noto Serif", serif;
}
