.GenreMovie{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;

}
h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    height: 5vh;
    width: 13vw;
    font-size: 22px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 16vw;
}
.rating{
    margin-left: -10px;
}

.genreOfMoviesLight h3{
    color: #aad6f1;
}
.genreOfMoviesLight button{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,0.5041666324733018) 0%, rgba(148,187,233,0.5013655120251226) 100%);
    color: #e1fc0b;
}