.Serche{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}
.posters{
    display: flex;
    flex-wrap: wrap;
    width: 16vw;
    cursor: pointer;
}
.rating{
    margin-left: -10px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
input{
    margin-top: 10px;
    width: 15vw;
    height: 4vh;
    border-radius: 30px;
    background: rgb(210, 149, 37);
    color: rgb(1, 16, 1);
    font-weight: bold;
    font-size: 17px;
    border: 1px #011001 solid;
}
.sercheLight input{
    background: rgba(255, 255, 255, 0.66);
}
button{
    background: rgb(3,7,243);
    background: linear-gradient(14deg, rgba(3,7,243,0.5013655120251226) 0%, rgba(4,255,84,0.49576327112876406) 51%);
}
.sercheLight button{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,0.5041666324733018) 0%, rgba(148,187,233,0.5013655120251226) 100%);
    color: #e1fc0b;
}
.sercheLight h2{
    color: #aad6f1;
}