body{
display: flex;
    justify-content: center;

}
.Header{
    height: 15vh;
    width: 80vw;
    background: #afc57a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    font-family: "Playfair Display", serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
a{
    text-decoration: none;
    color: #020246;
    font-size: 27px;
    font-family: "Anton", sans-serif;
    font-weight: bold;
}
.img{
    height: 70px;
    width: 70px;
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #b7ec0c;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 1.5px;
    left: 0px;
    width: 22.5px;
    height: 22.5px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #020246;
}

input:checked + label:after {
    left: calc(100% );
    transform: translateX(-100%);
}

label:active:after {
    width: 30px;
}
.p{
    display: flex;
}