
body{
display: flex;
    justify-content: center;
    background: #d0cfcf;
}

.one{
    background-color: #1515da;
}
.one.dark {
    background-color: #191928; /* Цвет фона для темной темы */
    color: #f0f0f0; /* Цвет текста для светлой темы */
}
.Header{
    height: 15vh;
    width: 80vw;
    background: #afc57a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    font-family: "Playfair Display", serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
a{
    text-decoration: none;
    color: #020246;
    font-size: 27px;
    font-family: "Anton", sans-serif;
    font-weight: bold;

}
a.dark{
    color: #ffffff;
}
.img{
    height: 70px;
    width: 70px;
}
button.dark{
    background: chartreuse;
    color: #020246;
}
/*input[type=checkbox]{*/
/*    height: 0;*/
/*    width: 0;*/
/*    visibility: hidden;*/
/*}*/

/*label {*/
/*    cursor: pointer;*/
/*    text-indent: -9999px;*/
/*    width: 50px;*/
/*    height: 25px;*/
/*    background: #b7ec0c;*/
/*    display: block;*/
/*    border-radius: 100px;*/
/*    position: relative;*/
/*}*/

/*label:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 1.5px;*/
/*    left: 0px;*/
/*    width: 22.5px;*/
/*    height: 22.5px;*/
/*    background: #fff;*/
/*    border-radius: 90px;*/
/*    transition: 0.3s;*/
/*}*/

/*input:checked + label {*/
/*    background: #020246;*/
/*}*/

/*input:checked + label:after {*/
/*    left: calc(100% );*/
/*    transform: translateX(-100%);*/
/*}*/

/*label:active:after {*/
/*    width: 30px;*/
/*}*/
/*.p{*/
/*    display: flex;*/
/*}*/
/*.wrapper {*/
/*    height: 80vh;*/
/*}*/
/*#dark{*/
/*    background: #131111;*/
/*}*/
/*#light{*/
/*    background: #d3e719;*/
/*}*/
/*!*.shape {*!*/
/*!*    position: absolute;*!*/
/*!*    top: 20px;*!*/
/*!*    left: 20px;*!*/
/*!*    width: 200px;*!*/
/*!*    height: 200px;*!*/
/*!*    border-radius: 50%;*!*/
/*!*}*!*/

/*!*#sun {*!*/
/*!*    background-color: #fdb813;*!*/
/*!*    box-shadow: 0 0 20px 10px #fdb813;*!*/
/*!*}*!*/

/*!*#moon {*!*/
/*!*    display: none;*!*/
/*!*    background-color: #f2f2f2;*!*/
/*!*    box-shadow: 0 0 20px 10px #f2f2f2;*!*/
/*!*}*!*/

/*.toggle-container {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*.toggle-label {*/
/*    display: block;*/
/*    width: 40px;*/
/*    height: 24px;*/
/*    border-radius: 12px;*/
/*    background-color: #131111;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    transition: background-color 0.3s, box-shadow 0.3s;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
/*}*/

/*.toggle-label::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    left: 2px;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border-radius: 50%;*/
/*    background-color: #d3e719;*/
/*    transition: transform 0.3s ease;*/
/*}*/

/*#toggle-btn {*/
/*    display: none;*/
/*}*/

/*#toggle-btn:checked + .toggle-label::before {*/
/*    transform: translateX(16px);*/
/*}*/

/*.toggle-label:hover {*/
/*    background-color: #e48989;*/
/*}*/
/*.change-text {*/
/*    position: absolute;*/
/*    top: -60px;*/
/*    left: -25px;*/
/*    font-size: 24px;*/
/*    color: #ee3b3b;*/
/*    white-space: nowrap;*/
/*}*/