
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header{
    height: 15vh;
    width: 79vw;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    font-family: "Playfair Display", serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.headerLight.Header{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.49576327112876406) 0%, rgba(253,29,29,0.5013655120251226) 50%, rgba(252,176,69,0.5041666324733018) 100%);
}
a{
    text-decoration: none;
    color: #020246;
    font-size: 27px;
    font-family: "Anton", sans-serif;
    font-weight: bold;
}
.headerLight a{
    color: #dcb0b0;
}
.img{
    height: 70px;
    width: 70px;
}
.headerLight button{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,0.5041666324733018) 0%, rgba(148,187,233,0.5013655120251226) 100%);
    color: #e1fc0b;
}
.toggleButton{
    width: 5vw;
    border-radius: 20px;
}
.headerLight p{
    color: #dcb0b0;
}